%article.article.animate-if-in-view

  %h3.small-headline wanted: IT professionals

  %p.text
    You will develop a modern and modularized plattform with a focus on testing,
    clean code, documentation and requirements. This will be the basement for
    the backend, for mapping organization processes and serving the frontend.
    %br
    %b Facts:

  %ul
    %li php, sass, coffeescript, gulp
    %li
      mvc, active record, services, modularisation
      %i (
        = @link_to 'yii2 framework', 'http://www.yiiframework.com/doc-2.0/guide-intro-yii.html', target: '_blank'
        )
    %li git, docker, agile development
