%article.article.animate-if-in-view

  %h3.small-headline wanted: SEO and marketing experts

  %p.text
    Your area will be the optimization and strategic planning. You are also  involved
    to  ensure a safe relaunch. You can get a great expertise on working for an NGO.
    %br
    %b Facts:

  %ul
    %li 40.000+ visitors per moth
    %li large growing rate
    %li
      daily budgets
      %i (non-governmental organization)
