%article.article.animate-if-in-view

  %h3.small-headline wanted: Web developer

  %p.text
    Your task will be the frontend implementation based on well developed
    interfaces and mockups. In fact there will be a widget-system that gives
    you access to backend services and resources. You will get a great expertise in
    modern responsive web development.
    %br
    %b Facts:

  %ul
    %li
      php, sass, coffeescript, gulp
      %i (
        = @link_to 'angular2', 'https://angular.io/', target: '_blank'
        under discussion )
    %li responsive web development with bootstrap-sass
    %li pagespeed optimisation, semantic html
