%article.article

  %h3.small-headline wanted: Web developer

  %p.text
    Your task will be the frontend implementation based on well developed
    interfaces and mockups. In fact there will be a widget system giving access to
    backend services. You will get great expertise in modern web development.
    %br
    %b Facts:

  %ul
    %li
      php, sass, coffeescript, gulp
      %i (angular2 under discussion)
    %li responsive web development with bootstrap-sass
    %li pagespeed optimisation, semantic html
