.socials.fade-in-on-load
  .help
    help us and share
  %ul
    %li
      = @social_share_button('facebook', 'data-share-facebook': '', 'data-share-url': 'https://rank-a-brand.github.io/', 'data-share-image': 'https://rank-a-brand.github.io/images/logo.png', 'data-share-title': 'Rank a Brand needs you!', 'data-share-text': 'Rank a Brand needs your support for website relaunch')
    %li
      = @social_share_button('twitter', 'data-share-twitter': '', 'data-share-url': 'https://rank-a-brand.github.io/', 'data-share-text': 'Rank a Brand needs your support for website relaunch')
    %li
      = @social_share_button('googleplus', 'data-share-google-plus': '', 'data-share-url': 'https://rank-a-brand.github.io/')
