.socials
  .help
    help us and share
  %ul
    %li
      = @social_share_button('facebook', 'data-share-facebook': '', 'data-share-url': 'TODO', 'data-share-image': 'TODO', 'data-share-title': 'Rank a Brand needs you!', 'data-share-text': 'Rank a Brand needs your support for website relaunch')
    %li
      = @social_share_button('twitter', 'data-share-twitter': '', 'data-share-url': 'TODO', 'data-share-text': 'Rank a Brand needs your support for website relaunch')
    %li
      = @social_share_button('googleplus', 'data-share-google-plus': '', 'data-share-url': 'TODO')
