.logo
  = @link_to @image_tag('logo.png', alt: 'Logo', title: 'Logo'), 'https://rankabrand.org/home/what-we-do'

.headline-wrapper
  %h1.headline
    Our team needs more people
    %span.small no profit - much to learn - much to win
    %span.exclamation-mark !
