%article.article

  %h2.headline What we do

  %p.text
    Rank a Brand is an independent and reliable brand-comparison
    website which assesses consumer brands in several sectors
    in order to rank them according to sustainability and social
    responsibility.

  .read-more
    more:
    = @link_to 'www.rankabrand.org/home/what-we-do', 'https://www.rankabrand.org/home/what-we-do', {target: '_blank'}
