%article.article

  %h2.headline What we do

  %p.text
    %strong Rank a Brand
    is an independent and reliable
    %strong brand-comparison
    website which assesses consumer brands in several sectors
    in order to rank them according to
    %strong sustainability and social responsibility.

  .read-more
    .hidden-xs
      more:
      = @link_to 'www.rankabrand.org/home/what-we-do', 'https://www.rankabrand.org/home/what-we-do', {target: '_blank'}
    .hidden-sm.hidden-md.hidden-lg
      = @link_to 'read more', 'https://www.rankabrand.org/home/what-we-do', {target: '_blank', class: 'green'}
