%article.article

  %h2.headline Who we are

  %p.text
    Rank a Brand is an
    %strong international community
    of responsible consumers who want to buy
    %strong sustainable and fair products
    or services.

  .read-more
    more:
    = @link_to 'www.rankabrand.org/home/who-we-are', 'https://www.rankabrand.org/home/who-we-are', {target: '_blank'}
