%article.article

  %h2.headline Why i should do this?

  %h3.headline.second-headline ...for nothing but karma?

  %p.text
    Yes! That is true. But ...

  %ul
    %li
      you will be part of a positive, respectfull and modern acting team
    %li
      you will build a beautiful “product” from consumer for consumer
    %li
      you will get expertise and references for working for an NGO

  %p.text
    And of course: this will not decrease your “karma-points” ;)
