%article.article

  %h2.headline Why we need you =)

  %p.text
    We want to relaunch the Rank a Brand websites and services.

  %p.text
    Thanks to our supporters, volunteers and professionals we
    finished the new design and also the technical requirements
    analysis.

  %p.text
    We are now on the way to build things up and there for we
    need your help =)

  .read-more
    more:
    = @link_to 'www.rankabrand.org/home/who-we-are', 'www.rankabrand.org/home/who-we-are'
